<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de usuários</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>


    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
    
                <form id="login-form" class="form" action="cadastro" method="post">
                  {% csrf_token %}
                  <h3 class="text-center text-info">Login</h3>
                  <div class="form-group">
                    <label for="email" class="text-info">Email:</label><br>
                    <input type="email" name="email" id="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="password" class="text-info">Senha:</label><br>
                    <input type="password" name="password" id="password" class="form-control">
                  </div>
                  <div class="form-group">
                    {% comment %} <label for="access_level" class="text-info">Nível de acesso:</label><br>
                    <input type="access_level" name="access_level" id="access_level" class="form-control"> {% endcomment %}

                    <label for="access_level" class="text-info">Nível de Acesso:</label><br>
                    <select name="access_level">
                        <option value="administrador" selected>Administrador</option>
                        <option value="funcionario">Funcionário</option>
                    </select>
                    

                  </div>

                  <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                  </div>
                </form>
    
              </div>
            </div>
          </div>
        </div>
      </div>



</body>
</html>