{% extends 'core/base.html' %}

{% block content %}
<h1></h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'core:cadastra-usuarios' %}">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="{% url 'core:principal' %}" class="btn btn-danger">Home</a>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Nível de acesso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.access_level }}</td>
                            <td>
                                <a href="{% url 'core:edita-usuarios' usuario.pk %}" class="btn btn-primary">Editar</a>
                                <a href="{% url 'core:exclui-usuarios' usuario.pk %}" class="btn btn-danger">Exluir</a>
                            </td>
                        </tr>
                    {% endfor %}    

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
