{% extends 'core/base.html' %}

{% block title %}Tela Principal{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Tela de Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tela Principal</a>
        </li>

        {% if request.session.access_level == 'ADM' %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'core:lista-usuarios' %}">Tela de gerenciamento de usuários</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>

    <div class="container">
        <div class="row">
        <div class="col-sm-5">

            <canvas id="cpu"></canvas>
            <canvas id="memoria"></canvas>
            <canvas id="cluster">info_cluster</canvas>
            
            <script>

                var ctx1 = document.getElementById('cpu').getContext('2d');
                var chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: {{ data_cpu.labels|safe }},
                        datasets: [{
                            label: 'Consumo do uso de CPU...',
                            data: {{ data_cpu.values|safe }},
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                var ctx2 = document.getElementById('memoria').getContext('2d');
                var chart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: {{ data_memoria.labels|safe }},
                        datasets: [{
                            label: 'Consumo do uso de memória...',
                            data: {{ data_memoria.values|safe }},
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                {% comment %} var ctx3 = document.getElementById('cluster').getContext('2d');
                var chart3 = new Chart(ctx3, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: [1],
                            backgroundColor: ['#00ff00'],
                            borderWidth: 0,
                        }],
                    },
                    options: {
                        cutoutPercentage: 1,
                        responsive: true,
                        maintainAspectRatio: false,
                    }
                }); {% endcomment %}
            </script>
        </div>       
    </div>
{% endblock content %}