{% extends 'core/base.html' %}

{% block title %}Desafio globo{% endblock title %}

{% block content %}
    
{% comment %} {% if request.session.access_level == "administrador" %} {% endcomment %}
    <div class="container">
        <div class="row">
        <div class="col-sm">
            
            <canvas id="cpu"></canvas>
            <canvas id="memoria"></canvas>
            <canvas id="cluster">info_cluster</canvas>
            
            <script>

                var ctx1 = document.getElementById('cpu').getContext('2d');
                var chart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: {{ data_cpu.labels|safe }},
                        datasets: [{
                            label: 'Consumo do uso de CPU...',
                            data: {{ data_cpu.values|safe }},
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                var ctx2 = document.getElementById('memoria').getContext('2d');
                var chart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: {{ data_memoria.labels|safe }},
                        datasets: [{
                            label: 'Consumo do uso de memória...',
                            data: {{ data_memoria.values|safe }},
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });



                {% comment %} var ctx3 = document.getElementById('cluster').getContext('2d');
                var chart3 = new Chart(ctx3, {
                    type: 'line',
                    data: {
                        labels: {{ info_cluster.labels|safe }},
                        datasets: [{
                            label: 'Informação sobre o cluster...',
                            data: {{ info_cluster.values|safe }},
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }] 
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }); {% endcomment %}

                
            </script>
            
        </div>
                            
        </div>
    </div>
    {% comment %} {% else %}
        <h1>Sem acesso a essa página
    {% endif %}  {% endcomment %}


{% endblock content %}